<h1>Current Reviewables!</h1>

<% for restaurant in @restaurants %>
    <p><a href="/restaurants/<%= restaurant[:id] %>"><%= restaurant[:title] %></a></p>
<% end %>

<p1>More restaurants will be added soon!<p1>