<h1>Current Reviewables!</h1>

<% for restaurant in @restaurants %>
    <p><a href="/restaurants/<%= restaurant[:id] %>"><%= restaurant[:title] %></a></p>
<% end %>

<p1>More restaurants will be added soon!<p1>

<div class="col-sm-9"><img src="https://i.pinimg.com/736x/0a/a1/81/0aa18127fd9ed28775fe6e2a78febd8b.jpg" alt="BBQ" height="auto" width="auto"></div>